
ul#Blue_Vertical, ul#Blue_Vertical ul
{
    margin: 0;
    list-style: none;
    padding: 0;
    /*background-color: red;*/
    border-width: 1px;
    border-style: solid;
    border-color: #5f5f5f;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    width: 100%;
}

    ul#Blue_Vertical ul
    {
        display: none;
        position: absolute;
        left: 100%;
        top: 0;
        -moz-box-shadow: 3.5px 3.5px 5px #000000;
        -webkit-box-shadow: 3.5px 3.5px 5px #000000;
        box-shadow: 3.5px 3.5px 5px #000000;
        background-color: #FFFFFF;
        border-radius: 6px;
        -moz-border-radius: 6px;
        -webkit-border-radius: 6px;
        border-color: #d4d4d4;
        padding: 0 10px 10px;
    }

    ul#Blue_Vertical li:hover > *
    {
        display: block;
    }

    ul#Blue_Vertical li
    {
        position: relative;
        display: block;
        white-space: nowrap;
        font-size: 0;
    }

        ul#Blue_Vertical li:hover
        {
            z-index: 1;
        }

ul#Blue_Vertical
{
    font-size: 0;
    z-index: 90;
    position: relative;
    display: block;
    float: left;
    padding: 0;
}

    ul#Blue_Vertical > li
    {
        margin: 0;
    }

    ul#Blue_Vertical a:active, ul#Blue_Vertical a:focus
    {
        outline-style: none;
    }

    ul#Blue_Vertical a
    {
        display: block;
        vertical-align: middle;
        text-align: left;
        text-decoration: none;
        font: bold 14px Trebuchet MS;
        color: #000;
        text-shadow: 0px 0px 1px #FFF;
        cursor: pointer;
        padding: 10px 0px 0px 50px;
        background-color: transparent; /*#C1C1C1;*/
        background-image: url("/images/mainbk.png");
        background-repeat: repeat;
        background-position: 0px 0px;
        border-width: 1px 0px 0px;
        border-style: solid;
        border-color: #C0C0C0;
    }

    ul#Blue_Vertical ul li
    {
        float: none;
        margin: 1px;
        padding: 1px;
        border-bottom: solid 1px #ccc;
        /*background-image: url("/images/mainbk.png");
        background-position: 0px 100px;*/
    }

    ul#Blue_Vertical ul a
    {
        text-align: left;
        padding: 4px;
        background-color: #FFFFFF;
        background-image: none;
        border-width: 0;
        border-radius: 0px;
        -moz-border-radius: 0px;
        -webkit-border-radius: 0px;
        font: 14px Tahoma;
        color: #000;
        text-decoration: none;
    }

    ul#Blue_Vertical li:hover > a, ul#Blue_Vertical li a.pressed
    {
        background-color: #1E4372;
        border-color: #C0C0C0;
        border-style: solid;
        color: #D4D4D4;
        text-shadow: 0px 0px 1px #0E3EE4;
        background-image: url("/images/mainbk.png");
        background-position: 0px 100px;
        text-decoration: none;
    }

    ul#Blue_Vertical span
    {
        display: block;
        overflow: visible;
        background-position: right center;
        background-repeat: no-repeat;
        padding-right: 0px;
    }

    ul#Blue_Vertical ul li:hover > a, ul#Blue_Vertical ul li a.pressed
    {
        background-color: #FFFFFF;
        background-image: none;
        color: #000033;
        text-decoration: none;
    }

    ul#Blue_Vertical li.topfirst > a
    {
        border-radius: 5px 5px 0 0;
        -moz-border-radius: 5px 5px 0 0;
        -webkit-border-radius: 5px;
        -webkit-border-bottom-right-radius: 0;
        -webkit-border-bottom-left-radius: 0;
    }

    ul#Blue_Vertical li.toplast > a
    {
        border-radius: 0 0 5px 5px;
        -moz-border-radius: 0 0 5px 5px;
        -webkit-border-radius: 0;
        -webkit-border-bottom-right-radius: 5px;
        -webkit-border-bottom-left-radius: 5px;
    }
