@import "../../../GridView.css";

ul#EstablishmentApprovalsUL
{
    display:block;
    float:left;
    width: 100%;
    min-height: 300px;
    margin:0;
    padding:0;
    list-style-type: none;
}

ul#EstablishmentApprovalsUL li
{
    display: block;
    float: left;
    width: 99%;
    padding: 2px;
}

table.GridView
{
    border: solid 1px #ccc;
    padding: 2px;
}

    table.GridView th
    {
        background-color: #ccc;
    }

    table.GridView td
    {
        padding: 2px;
        min-width: 50px;
    }


    

    table.GridView tr {
        border-bottom: solid 1px #ccc;
    }


    table.GridView td.checkBox {
        width: 5%;
    }

    

    table.GridView td.date {
        width: 13%;
    }


    table.GridView td.Type {
        width: 12%;
    }

    table.GridView td.Title {
        width: 50%;
    }


    table.GridView td.AuthorContributor {
        width: 5%;
    }


    table.GridView td.Status {
        width: 5%;
    }

/*
#ContentPlaceHolderMicroERP_gview_EstablishmentApprovals > tbody > tr > td.ID
{
    width: 5%;
}


#ContentPlaceHolderMicroERP_gview_EstablishmentApprovals > tbody > tr > td.date {
    width: 10%;
}


#ContentPlaceHolderMicroERP_gview_EstablishmentApprovals > tbody > tr > td.Tittle {
    width: 50%;
}
*/

#ContentPlaceHolderMicroERP_lbl_TheMessage {
    color: red;
}

.FormValueFullWidth select,
.FormValueFullWidth input
{
    font-size: 1.2em;
    padding: 4px;
}

.message-text {
    color: red;
    font-size: 15px;
    font-weight: bold;
}