<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="LTPL.ICAS.WebApplication.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="businessObjects">
      <sectionGroup name="crystalReports">
        <section name="crystalReportViewer" type="System.Configuration.NameValueSectionHandler" />
      </sectionGroup>
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="dotNetOpenAuth" type="DotNetOpenAuth.Configuration.DotNetOpenAuthSection, DotNetOpenAuth.Core">
      <section name="messaging" type="DotNetOpenAuth.Configuration.MessagingElement, DotNetOpenAuth.Core" requirePermission="false" allowLocation="true" />
      <section name="reporting" type="DotNetOpenAuth.Configuration.ReportingElement, DotNetOpenAuth.Core" requirePermission="false" allowLocation="true" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
	  <!--prod-->
	  <!--server=N1NWPLSK12SQL-v01.shr.prod.ams1.secureserver.net;database=tsdc;uid=tsdcuser;pwd=Tsdc@1234-->
	  <add name="ICAS_PRDN" connectionString="c2VydmVyPU4xTldQTFNLMTJTUUwtdjAxLnNoci5wcm9kLmFtczEuc2VjdXJlc2VydmVyLm5ldDtkYXRhYmFzZT10c2RjO3VpZD10c2RjdXNlcjtwd2Q9VHNkY0AxMjM0" />
	  
	  <!--local-->
	  <!--server=SUVRAM\SQLEXPRESS;database=tsdc;uid=sa;pwd=maa@1234-->
	  <!--<add name="ICAS_PRDN" connectionString="c2VydmVyPVNVVlJBTVxTUUxFWFBSRVNTO2RhdGFiYXNlPXRzZGM7dWlkPXNhO3B3ZD1tYWFAMTIzNA==" />-->
	  
	  <!--local-->
	  <!--server=SUVRAM\SQLEXPRESS_2022;database=tsdc;uid=sa;pwd=maa@1234-->
	  <!--<add name="ICAS_PRDN" connectionString="c2VydmVyPVNVVlJBTVxTUUxFWFBSRVNTXzIwMjI7ZGF0YWJhc2U9dHNkYzt1aWQ9c2E7cHdkPW1hYUAxMjM0" />-->

	  <!--local-->
	  <!--server=SUVRAM\SQLEXPRESS_2022;database=tsdc;uid=tsdcuser;pwd=maa@1234-->
	  <!--<add name="ICAS_PRDN" connectionString="c2VydmVyPVNVVlJBTVxTUUxFWFBSRVNTXzIwMjI7ZGF0YWJhc2U9dHNkYzt1aWQ9dHNkY3VzZXI7cHdkPW1hYUAxMjM0" />-->


	  <add name="iCAS_LibraryEntity" connectionString="metadata=res://*/Database.ModelLibrary.csdl|res://*/Database.ModelLibrary.ssdl|res://*/Database.ModelLibrary.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MUKUL\SQLEXPRESS2014;initial catalog=tsdcollege_icas;persist security info=True;user id=sa;password=maa@1234;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="ApplicationName" value="Integrated Campus Automation System (ICAS) - " />
    <add key="Creator" value="Suvram Solutions" />
    <add key="CreatorWebsite" value="http://www.suvram.com" />
    <!--<add key="DefaultDatabaseEnviroment" value="ICAS_DEV2" /><add key="WebServerIP" value="localhost:12280" /><add key="WebServerIP_PRDN" value="localhost:12280" />-->
    <add key="DefaultDatabaseEnviroment" value="ICAS_PRDN" />
	  
	  
	  <!--<add key="webserverip_prdn" value="localhost:12280" />
	  <add key="webserverip" value="localhost:12280" />-->
	  
	 
	  <add key="WebServerIP_PRDN" value="backoffice.tsdcollege.in" />
	  <add key="WebServerIP" value="backoffice.tsdcollege.in" />
	  
    <add key="DefaultCompanyIndex" value="0" />
    <add key="DefaultDatabaseIndex" value="0" />
    <add key="DefaultCompanyAlias" value="TSDC" />
    <add key="DefaultCompanyCode" value="0001" />
    <add key="DefaultCompanyID" value="8" />
    <add key="MailServerName" value="smtp.gmail.com" />
    <add key="MailSendingFromUser" value="tsdcollege.in@gmail.com" />
    <add key="MailSendingFromPassword" value="tsdc@1234" />
    <add key="MailAddressesTo" value="tsdcollege@gmail.com" />
    <add key="MailAddressesCC" value="tsdcollege.in@gmail.com" />
    <add key="MailAddressBCC" value="suvram.solutions@gmail.com" />
    <add key="MailSubjectPrefix" value="AutoGenerated" />
    <add key="EmailSupport" value="tsdcollege@gmail.com" />
    <add key="EmailTechSupportCompany" value="XXXYYYZZZ@gmail.com" />
    <add key="EmailTechSupportPerson" value="tripathykishor8@gmail.com" />
    <add key="SUPPORT-IT" value="support@tsdcollege.in" />
    <add key="SUPPORT-HRD" value="hrd@tsdcollege.in" />
    <add key="SUPPORT-FINANCE" value="finance@tsdcollege.in" />
    <add key="SUPPORT-GENERAL" value="support@tsdcollege.in" />
    <add key="Log_MailFrom" value="suvram.solutions@gmail.com" />
    <add key="Log_MailFromPassword" value="maa@1234" />
    <add key="Log_MailFromDisplayName" value="Support Team" />
    <add key="Log_MailTo" value="suvram.solutions@gmail.com" />
    <add key="Log_MailCc" value="KCTRIPATHY@GMAIL.COM" />
    <add key="Events" value="tsdcollege.in@gmail.com" />
    <add key="Admission" value="admission@tsdcollege.in" />
    <add key="Feedback" value="feedback@tsdcollege.in" />
    <add key="Donation" value="donation@tsdcollege.in" />
    <add key="DeviceType" value="0" />
    <add key="DeviceSerialNo" value="000000" />
    <add key="DeviceNumber" value="1" />
    <add key="DeviceDataClear" value="0" />
    <add key="DeviceIP" value="192.168.1.224" />
    <add key="DataImportType" value="Excel" />
    <add key="DataImportMode" value="0" />
    <add key="DataExportMode" value="0" />
    <add key="DataImportTime" value="0" />
    <add key="DataExportTime" value="0" />
    <add key="EmpCodeInitializer" value="TSDC" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="AllowRescheduleOfPastShiftSchedules" value="true" />
    <add key="EnableLogErrors" value="true" />
    <add key="ErrorLogFileName" value="ErrorLogs.txt" />
    <add key="AccessPathType" value="Absolute" />
    <add key="AccessFilePath" value="D:\WEB-APPLICATION\REPORTS" />
    <add key="ExcelPathType" value="Absolute" />
    <add key="ExcelFilePath" value="D:\WEB-APPLICATION\REPORTS" />
    <add key="ReportPathType" value="Absolute" />
    <add key="ReportFilePath" value="D:\MicroERP" />
    <add key="ReportLogoPathType" value="Relative" />
    <add key="ReportLogoFilePath" value="\Themes\Default\Images\Logo_Report_MLFL.jpg" />
    <add key="XMLPathType" value="Relative" />
    <add key="HTMLFilePath" value="Themes\Common\HTML\" />
    <add key="XMLFilePath" value="App_Data\MicroERP\" />
    <add key="XMLFilePath_Message" value="App_Data\MicroERP\Messages.xml" />
    <add key="XMLFilePath_Miscellenous" value="App_Data\MicroERP\Miscellaneous.xml" />
    <add key="XMLFilePath_ChartData" value="App_Data\MicroERP\ChartData.xml" />
    <add key="CrystalImageCleaner-AutoStart" value="true" />
    <add key="CrystalImageCleaner-Sleep" value="60000" />
    <add key="CrystalImageCleaner-Age" value="120000" />
    <add key="WillShowEmpOfMonth" value="YES" />
    <add key="ChartHttpHandler" value="Storage=file;Timeout=180;Url=D:\TempImageFiles\;" />
    <add key="ChartImageHandler" value="storage=file;timeout=20;dir=c:\TempImageFiles\;" />
    <add key="ContentUpdationMessage" value="We are in the process of updating the content...  Please visit again sometime later!" />
    <add key="EstbTitletZoneMaxLengh" value="75" />
    <add key="MaxLibraryBooks2Display" value="6" />
    <add key="UnavailableDateTime" value="7-JAN-2018; 8-JAN-2018" />
    <add key="UnavailableDateTimeDisplay" value="NO" />
    <!-- YES if need to display the maintenance flag -->
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.2" />
      </system.Web>
  -->
  <system.web>
    <trust level="Full" originUrl="" />
	  <authorization>
		  <allow users="*"/>
	  </authorization>
	<sessionState timeout="20000"></sessionState>
    <!--<sessionState allowCustomSqlDatabase="true" mode="InProc" sqlCommandTimeout="1200" sqlConnectionString="server=N1NWPLSK12SQL-v01.shr.prod.ams1.secureserver.net;database=tsdc;uid=tsdcuser;pwd=Tsdc@1234" stateNetworkTimeout="1200" timeout="1200" />-->
    <pages theme="Default" enableEventValidation="false" viewStateEncryptionMode="Never" controlRenderingCompatibilityVersion="4.0">
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls>
      <namespaces>
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Linq" />
        <add namespace="System.Collections.Generic" />
      </namespaces>
    </pages>
    <httpModules>
      <add name="UrlRoutingModule" type="System.Web.Routing.UrlRoutingModule,                  System.Web.Routing, Version=3.5.0.0,                  Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
    </httpModules>
    
	<!--<customErrors mode="RemoteOnly" defaultRedirect="/App_Error/Error500.aspx" redirectMode="ResponseRedirect">
      <error statusCode="404" redirect="/App_Error/Error404.aspx" />
      <error statusCode="500" redirect="/App_Error/Error500.aspx" />
    </customErrors>-->
	  
    <customErrors mode="Off" /> 
    <compilation targetFramework="4.8" debug="true">
      <assemblies>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />
        <add assembly="CrystalDecisions.Shared, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />
        <add assembly="CrystalDecisions.ReportSource, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />
        <add assembly="CrystalDecisions.CrystalReports.Engine, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />
        <add assembly="System.Web.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Core, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </buildProviders>
    </compilation>
    <authentication mode="Windows" />
    <membership>
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <profile>
      <providers>
        <clear />
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear />
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>
    <httpHandlers>
      <add path="CrystalImageHandler.aspx" verb="GET" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
      <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false" />
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" validate="false" />
    </httpHandlers>
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ChartImageHandler" />
      <add name="CrystalImageHandler.aspx_GET" verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" preCondition="integratedMode" />
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
      
	    
		
		<remove name="OPTIONSVerbHandler" />
        <remove name="TRACEVerbHandler" />
		<remove name="ExtensionlessUrlHandler-Integrated-4.0" />
        <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />

		<!--<add name="OPTIONSVerbHandler" path="*" verb="GET,HEAD,POST,OPTIONS" modules="ProtocolSupportModule" resourceType="Unspecified" requireAccess="None" />-->
	
	</handlers>
    <validation validateIntegratedModeConfiguration="false" />
	<httpProtocol>
		<customHeaders>
			<clear />
			<add name="Access-Control-Allow-Origin" value="*" />
			<add name="Access-Control-Allow-Headers" value="Content-Type" />
			<add name="Access-Control-Allow-Methods" value="GET, POST, PUT, DELETE, OPTIONS" />
		</customHeaders>
	</httpProtocol>
	  <security>
		  <requestFiltering>
			  <requestLimits maxAllowedContentLength="3000000000" />
		  </requestFiltering>
	  </security>
        <defaultDocument>
            <files>
                <remove value="default.aspx" />
                <remove value="iisstart.htm" />
                <remove value="index.html" />
                <remove value="index.htm" />
                <remove value="Default.asp" />
                <remove value="Default.htm" />
				<remove value="Apps/UserLogin.aspx" />
                <add value="Apps/UserLogin.aspx" />
            </files>
        </defaultDocument>
  </system.webServer>
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="Micro.WebApplication.App_WebServices.ServiceCustomersAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
        <behavior name="Micro.WebApplication.App_WebServices.ServiceOfficesAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
        <behavior name="Micro.WebApplication.App_WebServices.ServiceEmployeeAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
        <behavior name="Micro.WebApplication.App_WebServices.ServiceFieldForcesAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
        <behavior name="Micro.WebApplication.App_WebServices.ServiceCommonsAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
    <services>
      <service name="Micro.WebApplication.App_WebServices.ServiceCustomers">
        <endpoint address="" behaviorConfiguration="Micro.WebApplication.App_WebServices.ServiceCustomersAspNetAjaxBehavior" binding="webHttpBinding" contract="Micro.WebApplication.App_WebServices.ServiceCustomers" />
      </service>
      <service name="Micro.WebApplication.App_WebServices.ServiceOffices">
        <endpoint address="" behaviorConfiguration="Micro.WebApplication.App_WebServices.ServiceOfficesAspNetAjaxBehavior" binding="webHttpBinding" contract="Micro.WebApplication.App_WebServices.ServiceOffices" />
      </service>
      <service name="Micro.WebApplication.App_WebServices.ServiceEmployee">
        <endpoint address="" behaviorConfiguration="Micro.WebApplication.App_WebServices.ServiceEmployeeAspNetAjaxBehavior" binding="webHttpBinding" contract="Micro.WebApplication.App_WebServices.ServiceEmployee" />
      </service>
      <service name="Micro.WebApplication.App_WebServices.ServiceFieldForces">
        <endpoint address="" behaviorConfiguration="Micro.WebApplication.App_WebServices.ServiceFieldForcesAspNetAjaxBehavior" binding="webHttpBinding" contract="Micro.WebApplication.App_WebServices.ServiceFieldForces" />
      </service>
      <service name="Micro.WebApplication.App_WebServices.ServiceCommons">
        <endpoint address="" behaviorConfiguration="Micro.WebApplication.App_WebServices.ServiceCommonsAspNetAjaxBehavior" binding="webHttpBinding" contract="Micro.WebApplication.App_WebServices.ServiceCommons" />
      </service>
    </services>
  </system.serviceModel>
  <applicationSettings>
    <LTPL.ICAS.WebApplication.Properties.Settings>
      <setting name="LTPL_ICAS_WebApplication_ServiceItems_ServiceItems" serializeAs="String">
        <value>http://demo.tsdcollege.in/App_WebServices/ServiceItems.asmx</value>
      </setting>
    </LTPL.ICAS.WebApplication.Properties.Settings>
  </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Xml" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Services" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
		
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.8.0" newVersion="5.2.8.0" />
      </dependentAssembly>
    </assemblyBinding>
    <!-- This prevents the Windows Event Log from frequently logging that HMAC1 is being used (when the other party needs it). -->
    <legacyHMACWarning enabled="0" />
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.net>
    <defaultProxy enabled="true" />
    <settings>
      <!-- This setting causes .NET to check certificate revocation lists (CRL) 
			     before trusting HTTPS certificates.  But this setting tends to not 
			     be allowed in shared hosting environments. -->
      <!--<servicePointManager checkCertificateRevocationList="true"/>-->
    </settings>
  </system.net>
  <dotNetOpenAuth>
    <messaging>
      <untrustedWebRequest>
        <whitelistHosts>
          <!-- Uncomment to enable communication with localhost (should generally not activate in production!) -->
          <!--<add name="localhost" />-->
        </whitelistHosts>
      </untrustedWebRequest>
    </messaging>
    <!-- Allow DotNetOpenAuth to publish usage statistics to library authors to improve the library. -->
    <reporting enabled="true" />
  </dotNetOpenAuth>
</configuration>