<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="LTPL.ICAS.WebApplication.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="businessObjects">
      <sectionGroup name="crystalReports">
        <section name="crystalReportViewer" type="System.Configuration.NameValueSectionHandler" />
      </sectionGroup>
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <!-- server=184.168.194.75;database=tsdcollege_icas;uid=tsdc;pwd=xxxxxxxxxxxxxx-->
    <add name="ICAS_PRDN" connectionString="c2VydmVyPTE4NC4xNjguMTk0Ljc1O2RhdGFiYXNlPXRzZGNvbGxlZ2VfaWNhczt1aWQ9dHNkYztwd2Q9dHNkY0AxMjM0" />
  </connectionStrings>
  <appSettings>
    <add key="ApplicationName" value="iCampus Automation System (iCAS)- " />

    <add key="Creator" value="Suvram Solutions" />
    <add key="CreatorWebsite" value="http://icas.suvram.com" />

    <add key="WebServerIP_PRDN" value="tsdcollege.in" /><add key="DefaultDatabaseEnviroment" value="ICAS_PRDN"/> <add key="WebServerIP" value="tsdcollege.in"/>


    <!--<add key="WebServerIP_PRDN" value="localhost/TSDC_WebApps" />
    <add key="DefaultDatabaseEnviroment" value="ICAS_DEV1" />
    <add key="WebServerIP" value="localhost/TSDC_WebApps" />-->

    <add key="DefaultCompanyIndex" value="0" />
    <add key="DefaultDatabaseIndex" value="0" />
    <add key="DefaultCompanyAlias" value="TSDC" />
    <add key="DefaultCompanyCode" value="0001" />
    <add key="DefaultCompanyID" value="8" />

    <add key="MailServerName" value="smtp.gmail.com" />
    <add key="MailSendingFromUser" value="tsdcollege.in@gmail.com" />
    <add key="MailSendingFromPassword" value="tsdc@1234" />
    <add key="MailAddressesTo" value="tsdcollege@gmail.com" />
    <add key="MailAddressesCC" value="tsdcollege.in@gmail.com" />
    <add key="MailAddressBCC" value="suvram.solutions@gmail.com" />
    <add key="MailSubjectPrefix" value="AutoGenerated" />

    <add key="EmailSupport" value="tsdcollege@gmail.com" />
    <add key="EmailTechSupportCompany" value="suvram.solutions@gmail.com" />
    <add key="EmailTechSupportPerson" value="kctripathy@gmail.com" />
    <add key="SUPPORT-IT" value="support@tsdcollege.in" />
    <add key="SUPPORT-HRD" value="hrd@tsdcollege.in" />
    <add key="SUPPORT-FINANCE" value="finance@tsdcollege.in" />
    <add key="SUPPORT-GENERAL" value="support@tsdcollege.in" />

    <add key="Log_MailFrom" value="suvram.solutions@gmail.com" />
    <add key="Log_MailFromPassword" value="maa@1234" />
    <add key="Log_MailFromDisplayName" value="Tech. Support Team (iCAS)" />
    <add key="Log_MailTo" value="suvram.solutions@gmail.com" />
    <add key="Log_MailCc" value="KCTRIPATHY@GMAIL.COM" />

    <add key="Events" value="tsdcollege.in@gmail.com" />
    <add key="Admission" value="admission@tsdcollege.in" />
    <add key="Feedback" value="feedback@tsdcollege.in" />
    <add key="Donation" value="donation@tsdcollege.in" />

    <add key="DeviceType" value="0" />
    <add key="DeviceSerialNo" value="000000" />
    <add key="DeviceNumber" value="1" />
    <add key="DeviceDataClear" value="0" />
    <add key="DeviceIP" value="192.168.1.224" />
    <add key="DataImportType" value="Excel" />
    <add key="DataImportMode" value="0" />
    <add key="DataExportMode" value="0" />
    <add key="DataImportTime" value="0" />
    <add key="DataExportTime" value="0" />

    <add key="EmpCodeInitializer" value="TSDC" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="AllowRescheduleOfPastShiftSchedules" value="true" />
    <add key="EnableLogErrors" value="true" />
    <add key="ErrorLogFileName" value="ErrorLogs.txt" />
    <add key="AccessPathType" value="Absolute" />
    <add key="AccessFilePath" value="D:\WEB-APPLICATION\REPORTS" />
    <add key="ExcelPathType" value="Absolute" />
    <add key="ExcelFilePath" value="D:\WEB-APPLICATION\REPORTS" />
    <add key="ReportPathType" value="Absolute" />
    <add key="ReportFilePath" value="D:\MicroERP" />
    <add key="ReportLogoPathType" value="Relative" />
    <add key="ReportLogoFilePath" value="\Themes\Default\Images\Logo_Report_MLFL.jpg" />
    <add key="XMLPathType" value="Relative" />
    <add key="HTMLFilePath" value="Themes\Common\HTML\" />
    <add key="XMLFilePath" value="App_Data\MicroERP\" />
    <add key="XMLFilePath_Message" value="App_Data\MicroERP\Messages.xml" />
    <add key="XMLFilePath_Miscellenous" value="App_Data\MicroERP\Miscellaneous.xml" />
    <add key="XMLFilePath_ChartData" value="App_Data\MicroERP\ChartData.xml" />
    <add key="CrystalImageCleaner-AutoStart" value="true" />
    <add key="CrystalImageCleaner-Sleep" value="60000" />
    <add key="CrystalImageCleaner-Age" value="120000" />

    <add key="WillShowEmpOfMonth" value="YES" />
    <add key="ChartHttpHandler" value="Storage=file;Timeout=180;Url=D:\TempImageFiles\;" />
    <add key="ChartImageHandler" value="storage=file;timeout=20;dir=c:\TempImageFiles\;" />
    <add key="ContentUpdationMessage" value="We are in the process of updating the content...  Please visit again sometime later!" />

    <add key="EstbTitletZoneMaxLengh" value="80" />
    <add key="UnavailableDateTime" value="14-DEC-2018; 17-DEC-2018" />
    <add key="UnavailableDateTimeDisplay" value="NO" />
    <!-- YES if need to display the maintenance flag -->
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.2" />
      </system.Web>
  -->
  <system.web>
    <trust level="Full" originUrl="" />
    <sessionState allowCustomSqlDatabase="true" mode="InProc" sqlCommandTimeout="1200" sqlConnectionString="data source=111.93.179.139;Integrated Security=SSPI" stateNetworkTimeout="1200" timeout="1200" />
    <pages theme="Default" enableEventValidation="false" viewStateEncryptionMode="Never" controlRenderingCompatibilityVersion="4.0">
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls>
      <namespaces>
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Linq" />
        <add namespace="System.Collections.Generic" />
      </namespaces>
    </pages>
    <httpModules>
      <add name="UrlRoutingModule" type="System.Web.Routing.UrlRoutingModule,                  System.Web.Routing, Version=3.5.0.0,                  Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
    </httpModules>
    <customErrors mode="RemoteOnly" defaultRedirect="/App_Error/Error500.aspx" redirectMode="ResponseRedirect">
      <error statusCode="404" redirect="/App_Error/Error404.aspx" />
      <error statusCode="500" redirect="/App_Error/Error500.aspx" />
    </customErrors>
    <!--<customErrors mode="Off" /> -->
    <compilation targetFramework="4.5" debug="true">
      <assemblies>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />
        <add assembly="CrystalDecisions.Shared, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />
        <add assembly="CrystalDecisions.ReportSource, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />
        <add assembly="CrystalDecisions.CrystalReports.Engine, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />
        <add assembly="System.Web.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Core, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </buildProviders>
    </compilation>
    <authentication mode="Windows" />
    <membership>
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <profile>
      <providers>
        <clear />
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear />
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>
    <httpHandlers>
      <add path="CrystalImageHandler.aspx" verb="GET" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
      <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false" />
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" validate="false" />
    </httpHandlers>
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ChartImageHandler" />
      <add name="CrystalImageHandler.aspx_GET" verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" preCondition="integratedMode" />
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="Micro.WebApplication.App_WebServices.ServiceCustomersAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
        <behavior name="Micro.WebApplication.App_WebServices.ServiceOfficesAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
        <behavior name="Micro.WebApplication.App_WebServices.ServiceEmployeeAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
        <behavior name="Micro.WebApplication.App_WebServices.ServiceFieldForcesAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
        <behavior name="Micro.WebApplication.App_WebServices.ServiceCommonsAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
    <services>
      <service name="Micro.WebApplication.App_WebServices.ServiceCustomers">
        <endpoint address="" behaviorConfiguration="Micro.WebApplication.App_WebServices.ServiceCustomersAspNetAjaxBehavior" binding="webHttpBinding" contract="Micro.WebApplication.App_WebServices.ServiceCustomers" />
      </service>
      <service name="Micro.WebApplication.App_WebServices.ServiceOffices">
        <endpoint address="" behaviorConfiguration="Micro.WebApplication.App_WebServices.ServiceOfficesAspNetAjaxBehavior" binding="webHttpBinding" contract="Micro.WebApplication.App_WebServices.ServiceOffices" />
      </service>
      <service name="Micro.WebApplication.App_WebServices.ServiceEmployee">
        <endpoint address="" behaviorConfiguration="Micro.WebApplication.App_WebServices.ServiceEmployeeAspNetAjaxBehavior" binding="webHttpBinding" contract="Micro.WebApplication.App_WebServices.ServiceEmployee" />
      </service>
      <service name="Micro.WebApplication.App_WebServices.ServiceFieldForces">
        <endpoint address="" behaviorConfiguration="Micro.WebApplication.App_WebServices.ServiceFieldForcesAspNetAjaxBehavior" binding="webHttpBinding" contract="Micro.WebApplication.App_WebServices.ServiceFieldForces" />
      </service>
      <service name="Micro.WebApplication.App_WebServices.ServiceCommons">
        <endpoint address="" behaviorConfiguration="Micro.WebApplication.App_WebServices.ServiceCommonsAspNetAjaxBehavior" binding="webHttpBinding" contract="Micro.WebApplication.App_WebServices.ServiceCommons" />
      </service>
    </services>
  </system.serviceModel>
  <applicationSettings>
    <LTPL.ICAS.WebApplication.Properties.Settings>
      <setting name="LTPL_ICAS_WebApplication_ServiceItems_ServiceItems" serializeAs="String">
        <value>http://demo.tsdcollege.in/App_WebServices/ServiceItems.asmx</value>
      </setting>
    </LTPL.ICAS.WebApplication.Properties.Settings>
  </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Xml" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Services" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>