ul.clearfix
{
    border: solid 1px rgb(124, 124, 124);
    width: 100%;
    height: 357px;
    overflow: auto;
}

    ul.clearfix li
    {
        width: 146px;
        border: solid 1px #ccc;
        margin: 5px;
        padding: 2px;
        display: block;
        float: left;
    }
