
#ContentPlaceHolderMicroERP_updatePanel_PolicyApplication ul#Button
{
	display: block;
	float: left;
	width: 100%;
}
#ContentPlaceHolderMicroERP_updatePanel_PolicyApplication ul
{
	display: block;
	float: left;
	width: 48%;
	overflow: hidden;
}

#WebBody #PageContent_RightColumn ul.StaffpolicyFullWidth
{
	display: block;
	float: left;
	margin: 2px 0;
	padding: 0;
	width: 100%;
	color: #000080;
}
#WebBody #PageContent_RightColumn ul.Policy li.FormLabel
{
	display: block;
	float: left;
	margin: 2px 0;
	padding: 0;
	width: 35%;
	color: #000080;
}
#WebBody #PageContent_RightColumn ul.Policy li.FormValue
{
	display: block;
	float: left;
	margin: 2px 0;
	padding: 0;
	width: 64%;
}