#ContentPlaceHolderMicroERP_updatepanel_EmployeePayrollComponents ul#Button
{
	display: block;
	float: left;
	width: 100%;
}
#ContentPlaceHolderMicroERP_updatepanel_EmployeePayrollComponents ul
{
	display: block;
	float: left;
	width: 48%;
	overflow: hidden;
}

#WebBody #PageContent_RightColumn ul.StaffFullWidth
{
	display: block;
	float: left;
	margin: 2px 0;
	padding: 0;
	width: 100%;
	color: #000080;
}
#WebBody #PageContent_RightColumn ul.Staff li.FormLabel
{
	display: block;
	float: left;
	margin: 2px 0;
	padding: 0;
	width: 35%;
	color: #000080;
}
#WebBody #PageContent_RightColumn ul.Staff li.FormValue
{
	display: block;
	float: left;
	margin: 2px 0;
	padding: 0;
	width: 64%;
}

.StaffPlace
{
	display: block;
	float: left;
	width: 50%;
	height: 100px;
	overflow: auto;
}
div.StaffList
{
	width: 100%;
	width: 370px;
	overflow: auto;
}

div.Staff table
{
	width: 100%;
}

div.Staff table tr td
{
	border-right: solid 1px #c0c0c0;
	padding: 0px 1px;
}
