<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <connectionStrings>
    
    <add name="ICAS_PRDN" connectionString="server=184.168.194.75;database=tsdcollege_icas;uid=tsdc;pwd=tsdc@1234" />
   <add name="DefaultConnectionString" connectionString="Server=184.168.194.75;database=tsdcollege_icas;uid=tsdc;pwd=tsdc@1234" /> 
   
    <!-- running fine:
     <add name="DefaultConnectionString" connectionString="Server=MUKUL\SQLEXPRESS2014;database=tsdcollege_icas;uid=sa;pwd=maa@1234" /> 
     
      
      
    <add name="ICAS_DEV_LOCAL" connectionString="Server=MUKUL\SQLEXPRESS2014;database=tsdcollege_icas;uid=sa;pwd=maa@1234" />
    <add name="DefaultConnectionString" connectionString="Server=KC-HO-IT-001\MSSQLEXPRESS14;database=tsdcollege_icas;uid=sa;pwd=maa@1234" />
   -->
    

  </connectionStrings>
  
</configuration>