#StaffProfiles {
    list-style-type: none;
    margin: 10px 0 0 10px;
}

.FullWidthRow {
    display: block;
    float: left;
    text-align: center;
}

#ContentPlaceHolder1_optCategory {
    width: 100%;
}


.StaffDetails {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    width: 100%;
    min-height: 200px;
    /*background-color: indianred;*/
}

    .StaffDetails li {
        display: block;
        float: left;
        width: 100%;
    }


