.TFtable
{
    width: 100%;
    border-collapse: collapse;
}


    .TFtable td
    {
        padding: 7px;
        border: #4e95f4 1px solid;
        text-align: left;
    }
    /* provide some minimal visual accomodation for IE8 and below */
    .TFtable tr
    {
        background: #b8d1f3;
        background: #4e95f4 url(/Themes/default/Images/gvHeaderBackground.gif);
    }


    .TFtable thead tr th
    {
        border: solid 1px #4E95F4;
        background: #4e95f4 url(/Themes/default/Images/gvHeaderBackground.gif);
        padding-left: 5px;
    }

    .TFtable thead tr td
    {
        font-weight: bold;
    }
    /*  Define the background color for all the ODD background rows  */
    .TFtable tbody tr:nth-child(odd)
    {
        background: #b8d1f3;
    }
    /*  Define the background color for all the EVEN background rows  */
    .TFtable tbody tr:nth-child(even)
    {
        background: #dae5f4;
    }

.innercontent ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.HeaderStyle
{
    background-image: url(../Images/gvHeaderBackground.gif);
    background-color: #ff6a00;
    width: 100%;
}



.auto-style-image
{
    width: 115px;
    height: 100px;
}

.auto-style-page
{
    text-align: justify;
}
