div#ChangePwd
{
	margin: 50px auto;
	width: 500px;
	height: 150px;
	padding: 20px;
}

ul#ChangePassword
{
	padding: 0px;
	margin: 10px;
	width: auto;
	height: inherit;
}

li#Spacer
{
	display: block;
	float: left;
	height: 10px;
	background-color: Red;
}
.FormButton_Top
{
	text-align: left;
	padding-top: 10px;
	padding-left: 180px;
	margin-top: 20px;
}
.ValidationColor
{
	color: RED
}

html body form#formMicro div#TheContainer div#WebContent div#WebBody div#PageContent_RightColumn div#ChangePwd ul#ChangePassword li.FormValue span#ContentPlaceHolderMicroERP_requiredFieldValidator_OldPassword.ValidateMessage div.DialogMessage
{
	margin: 0px;
	padding: 0px;
	display: block;
	float: left;
}

.ValidateMessage 
{
	display: block;
	float: right;
    background-color: #FFFFFF;
    clear: left;
    color: #FF0000;
    padding: 2px;
    margin: -10px 0px;
    text-decoration: none;
}

.ValidateMessage span
{
	border: solid 1px green;
}


html body form#formMicro div#TheContainer div#WebContent div#WebBody div#PageContent_RightColumn div#ChangePwd ul#ChangePassword li
{
	display: block;
	float: left;
	width: 100%;
	padding: 2px;
}

html body form#formMicro div#TheContainer div#WebContent div#WebBody div#PageContent_RightColumn div#ChangePwd ul#ChangePassword li.FormLabel
{
	display: block;
	float: left;
	width: 28%;
}

html body form#formMicro div#TheContainer div#WebContent div#WebBody div#PageContent_RightColumn div#ChangePwd ul#ChangePassword li.FormValue
{
	display: block;
	float: left;
	width: 70%;
}

html body form#formMicro div#TheContainer div#WebContent div#WebBody div#PageContent_RightColumn div#ChangePwd ul#ChangePassword li.FormValue input
{
	height: 18px;
}
html body form#formMicro div#TheContainer div#WebContent div#WebBody div#PageContent_RightColumn div#ChangePwd ul#ChangePassword li.FormValue span#ContentPlaceHolderMicroERP_requiredFieldValidator_OldPassword.ValidateMessage div.DialogMessage
{
	width: 99%;
	text-align: left;
}


html body form#formMicro div#TheContainer div#WebContent div#WebBody div#PageContent_RightColumn div#ChangePwd ul#ChangePassword li.FormValue span#ContentPlaceHolderMicroERP_compareValidator_ConfirmPassword.ValidateMessage div.DialogMessage
{
	display: block;
	position: relative;
	top: 50%;
	left: 50%;
}