#WebHeader ul li#UserInfo ul#CurrentUser, #WebBody #PageContent_LeftColumn
{
	display: none;
}


#WebContent
{
	width: 1007px;
	margin: 10px auto 0px auto;
	height: 649px;
	border: solid 1px #003366;
	background-color: #FFF;
}

#WebBody
{
	width: 100%;
	height: 540px;
	display: block;
	float: left;
}



#WebBody #PageContent_RightColumn
{
	width: 986px;
	height: inherit;
	display: block;
	float: left;
	padding: 10px;
	overflow: auto; /*background: #ffffff url('../../../Images/bg_Login.png') no-repeat fixed center top;*/
}

ul#TopMenuBar
{
	display: none;
}



div#ForgotPwd
{
	margin: 50px auto;
	width: 500px;
	height: 280px;
	padding: 20px;
	border: solid 1px red;
	-moz-box-shadow: 3.5px 3.5px 5px #000000;
	-webkit-box-shadow: 3.5px 3.5px 5px #000000;
	box-shadow: 3.5px 3.5px 5px #000000;
	background-color: #FFFFFF;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-color: #d4d4d4;
	padding: 0 10px 10px;
	border-lect: solid 1px #d4d4d4;
	zoom: 1; /* This enables hasLayout, which is required for older IE browsers */ /* For IE 5.5 – 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=5, Direction=140, Color='#444444'); /* For IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=5, Direction=140, Color='#444444')";
}

ul#ForgotPassword
{
	padding: 20px;
	margin: 10px;
	width: auto;
	height: inherit;

}

li#Spacer
{
	display: block;
	float: left;
	height: 10px;
	background-color: Red;
}

.FormButton_Top
{
	text-align: left;
	padding-top: 10px;
	padding-left: 180px;
	margin-top: 20px;
}


.FormMessageForgotPassword
{
	display: block;
	float: left;
	width: 100%;
	color: Red;
	font-size: 103%;
	text-align: left;
}


html body form#formMicro div#TheContainer div#WebContent div#WebBody div#PageContent_RightColumn div#ForgotPwd ul#ForgotPassword li.FormLabel
{
	display: block;
	float: left;
	width: 38%;
	padding: 5px 5px 5px 1%;
	text-align: right;
}

html body form#formMicro div#TheContainer div#WebContent div#WebBody div#PageContent_RightColumn div#ForgotPwd ul#ForgotPassword li.FormValue
{
	display: block;
	float: left;
	width: 58%;
	padding: 5px 5px 5px 1%;
}

html body form#formMicro div#TheContainer div#WebContent div#WebBody div#PageContent_RightColumn div#ForgotPwd ul#ForgotPassword li.FormValueCaptchaVerification
{
	display: block;
	float: left;
	width: 98%;
	padding: 15px 5px 5px 1%;
	text-align: center;
}

html body form#formMicro div#TheContainer div#WebContent div#WebBody div#PageContent_RightColumn div#ForgotPwd ul#ForgotPassword li.FormValueCaptchaVerification img
{
	border: solid 1px #ccc;
}


html body form#formMicro div#TheContainer div#WebContent div#WebBody div#PageContent_RightColumn div#ForgotPwd ul#ForgotPassword li.FormButton
{
	display: block;
	float: left;
	margin: 6px 0 2px 40%;
	padding: 0;
	width: 34%;
}

html body form#formMicro div#TheContainer div#WebContent div#WebBody div#PageContent_RightColumn div#ForgotPwd div.DialogMessage
{
	color: Red;
    font-weight: 200;
    text-align: center;
    width: 100%;
}

html body form#formMicro div#TheContainer div#WebContent div#WebBody div#PageContent_RightColumn div#ForgotPwd p.ErrorMessage
{
	text-align: center;
	font-weight: 200;
	color: Red;
	padding-top: 5px;
}

html body form#formMicro div#TheContainer div#WebContent div#WebBody div#PageContent_RightColumn div#ForgotPwd p.Links
{
	text-align: center;
	font-weight: 200;
	padding-top: 23px;
}