div#ResetPwd
{
	margin: 50px auto;
	width: 500px;
	height: 150px;
	padding: 20px;
}

ul#ResetPassword
{
	padding: 0px;
	margin: 10px;
	width: auto;
	height: inherit;
}

li#Spacer
{
	display: block;
	float: left;
	height: 10px;
	background-color: Red;
}

div#Header 
{
	background-color:#0000FF;
	width:auto;
	height:20px;
	color:White;
	text-align:center;
	font-size:larger;

}

div#HeaderText
{
	
	
}
div#Content
{
background-color:#FFFFFF;
height:150px;width:300px;
float:left;	
}
.FormButton_Top
{
	text-align: left;
	padding-top: 10px;
	padding-left: 180px;
	margin-top: 20px;
}
.modalBackground 
{

background-color:Gray;
filter:alpha(opacity=70);
opacity:0.7;

}

.FormValueCaptchaVerification
{
	display: block;
	float: left;
	width: 98%;
	padding: 15px 5px 5px 1%;
	text-align: center;
}

html body form#formMicro div#TheContainer div#WebContent div#WebBody div#PageContent_RightColumn div#ContentPlaceHolderMicroERP_updatePanel_ResetPassword p.ErrorMessage
{
	width: 98%;
	text-align: center;
	padding: 10px 0px;
	color: Red;
	font-weight: bold;
}
html body form#formMicro div#TheContainer div#WebContent div#WebBody div#PageContent_RightColumn div#ContentPlaceHolderMicroERP_updatePanel_ResetPassword p.ErrorMessage span
{
	width: 100%;
}
